@charset "utf-8";
@import url('reset.css');
*{
    box-sizing: border-box;
}
.mobile{
    display: none;
}
/* header */
header{
    height: 100px;
}
header .inner{
    max-width: 1280px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
header .inner .pc .gnb .depth_01{
    display: inline-block;
    position: relative;
}
header .inner .pc .gnb .depth_01 >a{
    padding: 0 30px;
    line-height: 100px;
    display: block;
}
header .inner .pc .gnb .depth_01 .depth_02{
    background-color: antiquewhite;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    text-align: center;
    display: none;
}
header .inner .pc .gnb .depth_01 .depth_02 a{
    height: 50px;
    display: block;
    line-height: 50px;
}
.main_visual{
    height: 100vh;
}
.main_visual img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:1024px) {
    .pc {display: none;}
    .mobile {display: block;}
    .menu_open{
        cursor: pointer;
    }
    .mobile_gnb{
        position: fixed;
        left: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        background-color: lavenderblush;
        margin: 0 auto;
        display: none;
        padding: 20% 0;
    }
    .mobile_gnb .menu_close{
        width: 100%;
        text-align: center;
        cursor: pointer;
        margin-bottom: 10%;
    }
    .mobile_gnb .gnb{
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
    .mobile_gnb .gnb .depth_01 > a{
        display: block;
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        background-color: rgb(251, 251, 148);
    }
    .mobile_gnb .depth_01 > a.on{
        background-color: rgb(103, 196, 75);
    }
    .mobile_gnb .gnb .depth_01 .depth_02{
        width:100%;
        margin: 0 auto;
        display: none;
    }
    .mobile_gnb .gnb .depth_01 .depth_02 a{
        width: 100%;
        display: block;
        height: 50px;
        line-height: 50px;
        background-color: rgb(152, 152, 90);
    }
}
